{% block create %}
    <div style="text-align: center" class = "center">
        <div class="form-popup" id="myDeleteForm" style="width: 100%; ">
            <form action="POST" class="form-container">
                <h1>Delete Blog</h1>

                <div style = "text-align: left;width:100%">
                    <label for id ="BlogName" style = "text-align: left;"><b>Blog Id: </b></label>
                    <input type="text" placeholder="Enter Blog To Be Deleted " name="blog_name" required>
                </div>

                <button type="submit" class="btn btn_delete">Delete</button>
                <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
            </form>
        </div>
    </div>
{% endblock %}