{%  extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/css_styles.css" %}">
{% endblock %}
{% block content %}
    <h1>Congratulations! You have successfully signed in.</h1>
    <div class="btn-group">
        <button class="button" onclick="openCreateForm()">Create</button>
        <button class="button" onclick="openUpdateForm()">Update</button>
        <button class="button" onclick="openDeleteForm()">Delete</button>
        <button class="button" onclick="openViewMyForm()">View My Blogs</button>
        <button class="button" onclick="openViewAllForm()">View All Blogs</button>
        <button class="signout-button">Sign Out</button>
    </div>
    <br>
    <br>
    <br>
    {% include "create_blog.html" %}
    {% include "update_blog.html" %}
    {% include "delete_blog.html" %}
    {% include "view_my_blog.html" %}
    {% include "view_all_blog.html" %}

    <script type="application/javascript" src="{% static "js/control.js" %}"></script>
{% endblock %}