{% block create %}
    <div style="text-align: center" class = "center">
        <div class="form-popup" id="allViewForm" style="width: 100%; ">
            <form action="POST" class="form-container">
                <h1>All Blogs</h1>

                <div style = "text-align: left;width:100%">
                    <p>All Blogs:</p>
                </div>
                <button type="submit" class="btn btn_showall" onclick="{% url 'blog:showall' %}">Display all blogs</button>
                <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
            </form>
        </div>
    </div>
{% endblock %}