{% block body %}
{% load static %}
<div id="body_container" style="background-color: #3e8e41   ;">
    <div id="welcome" style="width: 25%; height: 3px; float: left; text-align: center; font-family: 'Bell MT'">
        <br>
        <h3>Welcome</h3>
        <br>
        <button class="button button1">Sign In</button>
        <br>
        <br>
        <button class="button button1">Create Account</button>
    </div>
    <div id="popular_departments" style="width: 30%; height: 300px; float: left; text-align: center; font-family: 'Bell MT'">
        <h3>Polular Departments</h3>
        <table>
            <tr>
                <td>
                    <figure>
                      <img src="{% static "resources/img/pd1.jfif" %}">
                      <figcaption>Clothing</figcaption>
                    </figure>
                </td>
                <td>
                    <figure>
                      <img src="{% static "resources/img/pd2.jfif" %}">
                      <figcaption>Electronics</figcaption>
                    </figure>
                </td>
            </tr>
            <tr>
                <td>
                    <figure>
                      <img src="{% static "resources/img/pd3.jfif" %}">
                      <figcaption>Automotive</figcaption>
                    </figure>
                </td>
                <td>
                    <figure>
                      <img src="{% static "resources/img/pd4.jfif" %}">
                      <figcaption>Kitchen</figcaption>
                    </figure>
                </td>
            </tr>
        </table>
    </div>
    <div id="clothing_and_deals" style="font-family: 'Bell MT'">
        <table style="height: 100%">
            <tr>
                <td>
                    <img src="{% static "resources/img/pd1.jfif" %}">
                    <button class="button button1">Shop Clothing</button>
                </td>
                <td>
                    <img src="{% static "resources/img/pd1.jfif" %}">
                    <button class="button button1">See Deal</button>
                </td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}