{% block footer %}
<div class="footer" id="footer">
    <div class="welcome" id="welcome" style="width: 25%; height: 150px; float: left; text-align: center; background-color: #333">
        <br>
        <table style="margin: 0 auto">
            <tr><td style="font-weight: bold; text-decoration: underline;">About</td></tr>
            <tr><td></td></tr>
            <tr><td>Lorem</td></tr>
            <tr><td>Ipsum</td></tr>
            <tr><td>Dolor</td></tr>
        </table>
    </div>

    <div id="popular_departments" style="width: 25%; height: 150px; float: left;background-color: #333">
        <br>
        <table style="margin: 0 auto">
            <tr><td style="font-weight: bold; text-decoration: underline;">Jobs</td></tr>
            <tr><td></td></tr>
            <tr><td>Lorem</td></tr>
            <tr><td>Ipsum</td></tr>
            <tr><td>Dolor</td></tr>
        </table>
    </div>

    <div id="clothing_and_deals" style="width: 25%; height: 150px; float: left;background-color: #333">
        <br>
        <table style="margin: 0 auto">
            <tr><td style="font-weight: bold; text-decoration: underline;">Payment Products</td></tr>
            <tr><td></td></tr>
            <tr><td>Lorem</td></tr>
            <tr><td>Ipsum</td></tr>
            <tr><td>Dolor</td></tr>
        </table>
    </div>

    <div id="clothing_and_deals" style="width: 25%; height: 150px; float: left;background-color: #333">
        <br>
        <table style="margin: 0 auto">
            <tr><td style="font-weight: bold; text-decoration: underline;">Help</td></tr>
            <tr><td></td></tr>
            <tr><td>Lorem</td></tr>
            <tr><td>Ipsum</td></tr>
            <tr><td>Dolor</td></tr>
        </table>
    </div>
</div>
{% endblock %}