<div id="welcome" style="padding: 20px; width: 23%; height: 200px; background-color: yellow; float: left">
    <h3 style="align-content: center;align-items: center">About</h3>
    <br>
    <ul style="align-content: center;align-items: center">
        <li>Lorem</li>
        <li>Ipsum</li>
        <li>Dolor</li>
    </ul>
</div>

<div id="popular_departments" style="width: 25%; height: 200px; background-color: green; float: left">
    <div style="padding: 50px; border-color:black; border-width: medium"></div>
</div>

<div id="clothing_and_deals" style="width: 25%; height: 200px; background-color: aquamarine; float: left">
    <div style="padding: 10px; border-color:black; border-width: medium"></div>
</div>

<div id="clothing_and_deals" style="width: 25%; height: 200px; background-color: green; float: left">
    <div style="padding: 10px; border-color:black; border-width: medium"></div>
</div>
